 <log4net>
    <root>
      <level value="ALL" />
    </root>
   <logger additivity="false" name="WorkTimeLogger">
     <level value="All"/>
     <appender-ref ref="WorkTimeLogger" />
   </logger>
   <appender name="WorkTimeLogger" type="log4net.Appender.RollingFileAppender">
     <file value="Logs/WorkTime.log" />
     <appendToFile value="true" />
     <rollingStyle value="Date" />
     <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
     <maxSizeRollBackups value="0" />
     <maximumFileSize value="10MB" />
     <staticLogFileName value="false" />
     <layout type="log4net.Layout.PatternLayout">
       <conversionPattern value="%message%newline" />
     </layout>
   </appender>
  </log4net>